
.cart_area {
    padding-top: 90px;
    padding-bottom: 55px
}

.cart_inner .table th, .cart_inner .table td {
    padding: .75rem 1.5rem;
    border-color: #EEEEEE
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    color: #222;
    border-bottom: 0px !important
}

.cart_inner .table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center
}

.cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px
}

.cart_inner .table tbody tr td .media .d-flex img {
    border-radius: 3px
}

@media (max-width: 600px) {
    .cart_inner .table tbody tr td .media .d-flex img {
        max-width: 100px;
        height: 80px
    }
}

.cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center
}

.cart_inner .table tbody tr td .media .media-body p {
    margin-bottom: 0px
}

.cart_inner .table tbody tr td h5 {
    font-size: 15px;
    color: #222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px
}

.cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px
}

.cart_inner .table tbody tr td .product_count input {
    width: 100px;
    padding-left: 30px;
    height: 40px;
    outline: none;
    box-shadow: none
}

.cart_inner .table tbody tr td .product_count .increase {
    top: -2px
}

.cart_inner .table tbody tr td .product_count .increase:before {
    content: "";
    height: 40px;
    width: 1px;
    position: absolute;
    left: -3px;
    top: 0px;
    background: #eeeeee
}

.cart_inner .table tbody tr td .product_count .increase:after {
    content: "";
    height: 1px;
    width: 30px;
    position: absolute;
    left: -3px;
    top: 22px;
    background: #eeeeee
}

.cart_inner .table tbody tr td .product_count .reduced {
    bottom: -6px
}

.cart_inner .table tbody tr.bottom_button td:last-child {
    width: 60px
}

.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
    vertical-align: top
}

.cart_inner .table tbody tr.shipping_area .shipping_box {
    margin-left: -250px;
    text-align: right
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #222;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
    color: #222;
    padding-left: 5px
}

.cart_inner .table tbody tr.shipping_area .shipping_box input {
    height: 40px;
    outline: none;
    background: #f1f6f7;
    border: 1px solid #eeeeee;
    width: 100%;
    font-size: 14px;
    color: #999999;
    padding: 0px 15px;
    margin-bottom: 20px
}

.cart_inner .table tbody tr.shipping_area .shipping_box input::placeholder {
    color: #999999
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
    margin-left: -395px
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .primary-btn {
    height: 40px;
    padding: 0px 44px;
    line-height: 38px;
    text-transform: capitalize;
    background: #384aeb;
    border-radius: 30px;
    color: #fff;
    font-weight: 500
}

.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .primary-btn:hover:before {
    left: 240px
}

.gray_btn {
    line-height: 38px;
    background: #f1f6f7;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 0px 44px;
    display: inline-block;
    color: #222;
    text-transform: capitalize;
    font-weight: 500
}

.product_image_area {
    padding-top: 50px
}

@media (min-width: 1000px) {
    .product_image_area {
        padding-top: 100px
    }
}

.product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px
}

.product_count label {
    font-size: 14px;
    color: #777;
    font-weight: normal;
    padding-right: 10px
}

.product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px
}

.product_count button {
    display: block;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    font-size: 14px;
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.product_count button:hover {
    color: #222
}

.product_count .increase {
    top: -4px
}

.product_count .reduced {
    bottom: -8px
}