@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

body {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667
}

.card-product__imgOverlay ul ,.sidebar-categories ul,.sidebar-filter ul{
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none
}

button {
    cursor: pointer
}

button:focus {
    outline: 0;
    box-shadow: none
}

.section-margin--small h1, .section-margin--small h2,.section-margin--small h3,.section-margin--small h5,
.section-margin--small h6 {
    font-family: "Oswald", sans-serif;
    color: #222;
    line-height: 1.1
}

.section-margin--small h1,.section-margin--small .h1 {
    font-size: 50px;
    font-weight: 700
}

.section-margin--small h2,.section-margin--small .h2 {
    font-size: 36px;
    font-weight: 600
}

.section-margin--small h3,.section-margin--small .h3 {
    font-size: 26px;
    font-weight: 600
}

@media (min-width: 600px) {
    .section-margin--small h3,.section-margin--small .h3 {
        font-size: 36px
    }
}

h4, .h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3
}

a {
    display: inline-block
}

.section-margin {
    margin: 45px 0
}

@media (min-width: 980px) {
    .section-margin {
        margin: 70px 0
    }
}

@media (min-width: 1100px) {
    .section-margin {
        margin: 120px 0
    }

    .section-margin.calc-60px {
        margin: 120px 0 70px 0
    }
}

.section-margin--small {
    margin: 35px 0
}

@media (min-width: 1000px) {
    .section-margin--small {
        margin: 98px 0
    }
}

.pb-60px {
    padding-bottom: 60px
}

.pt-60px {
    padding-top: 60px
}

.ml-40 {
    margin-left: 40px
}


@media (max-width: 991px) {
    .header-top {
        display: none
    }
}

.header-top a {
    color: #fff
}

.header-top ul li {
    display: inline-block;
    margin-left: 15px
}

.header-top .header-top-left a {
    margin-right: 60px;
    font-weight: 600
}

.header-top .header-top-left a .text {
    margin-top: -2px
}

.header-top .header-top-left a .text span {
    font-size: 14px;
    color: #ffffff
}

.header-top .header-top-left a .lnr {
    color: #ffffff;
    margin-right: 8px
}

@media (max-width: 767px) {
    .header-top .header-top-left .text {
        display: none
    }
}

.header-top .header-top-right {
    text-align: right
}

.header-top .header-top-right a {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.nav-shop li {
    display: inline-block;
    margin-right: 15px
}

.nav-shop li i, .nav-shop li span {
    font-size: 16px;
    color: #222
}

.nav-shop li button {
    padding: 0;
    border: 0;
    background: transparent;
    position: relative
}

.nav-shop li button .nav-shop__circle {
    font-size: 9px;
    display: inline-block;
    background: #384aeb;
    color: #fff;
    padding: 0px 5px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -12px
}

.nav-shop li:last-child {
    margin-left: 40px
}

@media (max-width: 1619px) {
    .header_area .navbar .search {
        margin-left: 40px
    }
}

@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px
    }

    .home_banner_area .banner_inner {
        padding: 100px 0px
    }

    .header_area .navbar .tickets_btn {
        margin-left: 40px
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px
    }

    .header_area .navbar {
        background: #ffffff
    }

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1
    }

    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0
    }

    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px
    }

    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative
    }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #384aeb;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer
    }

    .navbar .container {
        padding-left: 15px;
        padding-right: 15px
    }

    .nav {
        padding: 0px 0px
    }

    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 117px
    }

    .header_top .nav {
        padding: 0px
    }

    .header_area .navbar .nav .nav-item .nav-link {
        line-height: 30px;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px
    }

    .header_area .navbar .nav-shop {
        padding-bottom: 40px
    }

    .header_area .navbar .search {
        margin-left: 0px
    }

    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll
    }

    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px
    }

    .header_area .navbar .nav .nav-item {
        margin-right: 0px
    }

    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 0px;
        padding-top: 71px
    }

    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px
    }

    .categories_post img {
        width: 100%
    }

    .categories_post {
        max-width: 360px;
        margin: 0 auto
    }

    .blog_categorie_area .col-lg-4 {
        margin-top: 30px
    }

    .blog_area {
        padding-bottom: 80px
    }

    .single-post-area .blog_right_sidebar {
        margin-top: 30px
    }

    .contact_info {
        margin-bottom: 50px
    }

    .home_banner_area .donation_inner {
        margin-bottom: -30px
    }

    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto
    }

    .footer-area .col-sm-6 {
        margin-bottom: 30px
    }

    .header_area .navbar .tickets_btn {
        margin-left: 0px
    }

    .home_banner_area {
        min-height: 700px
    }
}

@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        min-height: 500px
    }

    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }

    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px
    }

    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px
    }

    .home_banner_area .banner_inner .banner_content p br {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px
    }

    .footer-bottom {
        text-align: center
    }

    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }
}

@media (max-width: 575px) {
    .top_menu {
        display: none
    }

    .header_area+section, .header_area+row, .header_area+div {
        margin-top: 0px;
        padding-top: 71px
    }

    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 40px;
        line-height: 44px
    }

    .home_banner_area {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        min-height: 500px
    }

    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px
    }

    .home_banner_area .banner_inner .banner_content img {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px
    }

    .sample-text-area {
        padding: 70px 0 70px 0
    }

    .generic-blockquote {
        padding: 30px 15px 30px 30px
    }

    .blog_details h2 {
        font-size: 20px;
        line-height: 30px
    }

    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px
    }

    .footer-area {
        padding: 70px 0px
    }

    .single-footer-widget .sub-btn {
        right: 0px
    }
}

@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px
    }

    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px
    }

    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px
    }

    .comments-area .thumb {
        margin-right: 10px
    }
}

.section-intro p {
    margin-bottom: 3px
}

.section-intro__style {
    border-bottom: 2px solid #384aeb;
    padding-bottom: 8px
}

.hero-banner {
    background: #F1F6F7;
    position: relative;
    margin-bottom: 10px
}

@media (min-width: 991px) {
    .hero-banner {
        z-index: 111
    }
}

.hero-banner::before {
    content: "";
    display: block;
    width: 5%;
    height: 100%;
    background: #384aeb;
    position: absolute;
    top: 0;
    left: 0
}

@media (min-width: 575px) {
    .hero-banner::before {
        width: 20%
    }
}

@media (min-width: 991px) {
    .hero-banner::before {
        width: 35%
    }
}

.hero-banner__img {
    position: relative;
    top: 1px
}

@media (max-width: 575px) {
    .hero-banner__content {
        padding-bottom: 50px
    }
}

@media (min-width: 1000px) {
    .hero-banner__content {
        max-width: 495px
    }
}

.hero-banner__content h4 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #555555;
    margin-bottom: 12px
}

.hero-banner__content h1 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px
}

@media (min-width: 767px) {
    .hero-banner__content h1 {
        font-size: 30px;
        margin-bottom: 25px
    }
}

@media (min-width: 991px) {
    .hero-banner__content h1 {
        font-size: 50px
    }
}

.hero-banner__content p {
    margin-bottom: 10px
}

@media (min-width: 767px) {
    .hero-banner__content p {
        margin-bottom: 40px
    }
}

.hero-carousel__slide {
    position: relative
}

.hero-carousel__slide::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(50px);
    opacity: 0;
    transition: all .4s ease
}

.hero-carousel__slideOverlay {
    position: absolute;
    bottom: 50px;
    background: #384aeb;
    padding: 23px 90px 23px 25px;
    transform: translateY(50px);
    opacity: 0;
    z-index: -1;
    transition: all .4s ease-in-out
}

.hero-carousel__slideOverlay h3 {
    font-size: 20px;
    font-weight: 400;
    color: #fff
}

.hero-carousel__slideOverlay p {
    color: #fff;
    margin: 0
}

.hero-carousel__slide:hover::after {
    transform: translateY(0);
    opacity: 1
}

.hero-carousel__slide:hover .hero-carousel__slideOverlay {
    transform: translateY(0);
    opacity: 1;
    z-index: 2
}

.card-product {
    border: 0;
    margin-bottom: 30px
}

.card-product p {
    margin-bottom: 0
}

.card-product__img {
    position: relative
}

.card-product__imgOverlay {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 5px;
    transform: translateY(30px);
    opacity: 0;
    z-index: -1;
    transition: all .48s ease
}

.card-product__imgOverlay li {
    display: inline-block
}

.card-product__imgOverlay li button {
    border: 0;
    border-radius: 0;
    padding: 7px 12px;
    background: #8894ff
}

.card-product__imgOverlay li button i, .card-product__imgOverlay li button span {
    font-size: 15px;
    color: #fff;
    vertical-align: middle
}

.card-product__imgOverlay li button:hover {
    background: #384aeb
}

.card-product__imgOverlay li:not(:last-child) {
    margin-right: 5px
}

.card-product__title a {
    color: #222
}

.card-product__price {
    font-size: 18px;
    font-weight: 500
}

.card-product:hover .card-product__imgOverlay {
    opacity: 1;
    z-index: 1;
    transform: translateY(0)
}

.card-product:hover .card-product__title a {
    color: #384aeb
}

.offer {
    background: url("../img/home/parallax-bg.png") right center no-repeat;
    background-size: cover
}

@media (min-width: 1200px) {
    .offer {
        background-size: 100% 100%
    }
}

.offer__content {
    padding: 100px 0 110px 0
}

@media (min-width: 1000px) {
    .offer__content {
        padding: 122px 0 135px 0
    }
}

.offer__content h3 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px
}

@media (min-width: 650px) {
    .offer__content h3 {
        font-size: 50px;
        margin-bottom: 25px
    }
}

.offer__content h4 {
    font-size: 30px
}

.offer__content p {
    color: #555555
}

#bestSellerCarousel .owl-prev, #bestSellerCarousel .owl-next {
    width: 40px;
    height: 40px;
    background: #f1f6f7
}

#bestSellerCarousel .owl-prev i, #bestSellerCarousel .owl-prev span, #bestSellerCarousel .owl-next i, #bestSellerCarousel .owl-next span {
    font-size: 15px;
    color: #384aeb;
    line-height: 40px
}

#bestSellerCarousel .owl-prev:hover, #bestSellerCarousel .owl-next:hover {
    background: #384aeb
}

#bestSellerCarousel .owl-prev:hover i, #bestSellerCarousel .owl-prev:hover span, #bestSellerCarousel .owl-next:hover i, #bestSellerCarousel .owl-next:hover span {
    color: #fff
}

#bestSellerCarousel .owl-prev {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: -20px
}

@media (min-width: 1340px) {
    #bestSellerCarousel .owl-prev {
        left: -105px
    }
}

#bestSellerCarousel .owl-next {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    right: -20px
}

@media (min-width: 1340px) {
    #bestSellerCarousel .owl-next {
        right: -105px
    }
}

.card-blog {
    border: 0
}

.card-blog .card-body {
    padding: 25px 25px 25px 0
}

.card-blog__info {
    margin-bottom: 12px
}

.card-blog__info li {
    display: inline-block;
    font-size: 14px;
    color: #999999
}

.card-blog__info li a {
    color: #999999
}

.card-blog__info li i, .card-blog__info li span {
    margin-right: 5px;
    vertical-align: middle
}

.card-blog__info li:not(:last-child) {
    margin-right: 20px
}

.card-blog__title {
    font-size: 20px;
    margin-bottom: 20px
}

.card-blog__title a {
    color: #222
}

.card-blog__link {
    font-weight: 500;
    color: #222
}

.card-blog__link i, .card-blog__link span {
    font-size: 13px;
    padding-left: 3px;
    display: inline-block;
    transition: all .5s ease
}

.card-blog:hover .card-blog__title a {
    color: #384aeb
}


.filter-bar {
    padding: 0px 20px 10px 20px;
    background: #f1f6f7;
    margin-bottom: 30px
}

.filter-bar a, .filter-bar i {
    color: #000
}

.filter-bar-search {
    margin-top: 10px
}

.filter-bar-search input {
    border: 1px solid #eee;
    font-size: 14px;
    color: #999999;
    height: 38px;
    padding-left: 15px
}

.filter-bar-search input:focus {
    outline: 0;
    box-shadow: none
}

.filter-bar-search input::placeholder {
    color: #999999
}

.filter-bar-search button {
    background: transparent;
    border: 1px solid #eee;
    background: #fff;
    border-left: 0;
    padding-right: 15px
}

.filter-bar-search button i, .filter-bar-search button span {
    font-size: 14px;
    color: #999999
}

.sorting {
    margin-top: 10px;
    margin-right: 10px
}

.sorting .nice-select {
    border-radius: 0px;
    border: 1px solid #eee;
    padding-right: 50px;
    height: 38px;
    color: #999999
}

.sorting .nice-select:after {
    right: 18px
}

.sorting .nice-select .list {
    border-radius: 0px
}

.sidebar-categories .head {
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    background: #384aeb;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.sidebar-categories .main-categories {
    padding: 20px 28px;
    background: #f1f6f7
}

.sidebar-categories .main-categories .pixel-radio {
    background: transparent !important
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee
}

.sidebar-categories .main-nav-list a:hover {
    color: #384aeb
}

.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px
}

.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none
}

.sidebar-categories .main-nav-list.child a {
    padding-left: 32px
}

.sidebar-filter {
    margin-top: 30px
}

.sidebar-filter .top-filter-head {
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    background: #384aeb;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.sidebar-filter .head {
    line-height: 60px;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    text-transform: capitalize
}

.sidebar-filter .common-filter {
    background: #f1f6f7;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px
}

.sidebar-filter .common-filter .filter-list {
    position: relative;
    padding-left: 28px
}

.sidebar-filter .common-filter:last-child {
    border-bottom: 0
}

.filter-list {
    line-height: 32px
}

.filter-list i {
    margin-right: 10px;
    cursor: pointer
}

.filter-list .number {
    color: #ccc
}

.filter-list label {
    margin-bottom: 3px;
    cursor: pointer
}

@-webkit-keyframes click-wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.35;
        position: absolute;
        top: 50%;
        left: 50%
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
        top: 50%;
        left: 50%;
        position: absolute
    }
}

@-moz-keyframes click-wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.35;
        position: absolute;
        top: 50%;
        left: 50%
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
        top: 50%;
        left: 50%;
        position: absolute
    }
}

@keyframes click-wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.35;
        position: absolute;
        top: 50%;
        left: 50%
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
        top: 50%;
        left: 50%;
        position: absolute
    }
}

.pixel-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #999999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1
}

.pixel-radio:checked {
    border: 8px solid #384aeb
}

.pixel-radio:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #384aeb;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0
}

.pixel-radio {
    border-radius: 50%;
    top: 2px
}

.pixel-radio::after {
    border-radius: 50%
}